body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Contenedor principal */
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Men칰 izquierdo */
  .menu {
    width: 200px;
    background-color: #148129;
    color: white;
    padding: 20px;
  
    display: flex;
    flex-direction: column;
  }
  
  /* Links del men칰 */
  .menu a {
    display: flex;
    align-items: center;
    gap: 10px;
  
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px 8px 8px 14px;
    border-radius: 4px;
    position: relative;
  }
  
  /* Hover */
  .menu a:hover {
    background-color: #1c9334;
  }
  
  /* Opci칩n activa */
  .menu a.active {
    background-color: rgba(255, 255, 255, 0.25);
    font-weight: bold;
  }
  
  /* Barrita izquierda */
  .menu a.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #000;
  }
  
  /* Empuja logout abajo */
  .menu-links {
    flex: 1;
  }
  
  /* Cerrar sesi칩n */
  .logout {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 12px;
  }
  
  .logout:hover {
    background-color: #c0392b;
  }
  
  /* Contenido derecho */
  .content {
    flex: 1;
    padding: 0px;
    background-color: #f4f4f4;
  }
  .banner {
    width: 100%;
    height: 175px;   /* 치rea visible */
    overflow: hidden;
  }
  
  .banner img {
    width: 100%;
    height: auto;    /* mantiene tama침o real */
    transform: translateY(-260px); /* 游댮 MUEVES POR PX */
  }
  