.banner {
    width: 100%;
    height: 150px;
    background-image: url("/static/RAMPA.jpeg");
    background-size: cover;
    background-position: center bottom;
}

h1 {
    padding: 30px 30px 10px 30px;
    margin: 0;
}

p {
    padding: 0 30px;
}